*{
    margin:0;
    padding:0;
}
.background{
    background-color: blanchedalmond;
    height:1000px;
    padding:1%;
    width:50%;
}
.background2{
    background-color: azure;
    height:100%;
    width: 50%;
    position: absolute;
    top:0%;
    left:52%;
    padding:1%;
}
h1{
    font-family:cursive;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5em;
}
.contents{
    padding-left:3%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    padding-left:5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bio{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pics{
    width:70%;
    box-shadow: 6px 3px 8px #666;
    border-radius: 10px;
}
footer{
    background-color: #555;
    height:20%;
    width:500%;
    position: absolute;
    top:100%;
}
.contact{
    color:white;
    padding:50px;
}
a{
    color:whitesmoke;
}
